{
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "printWidth": 100,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "importOrder": [
    "^react$",
    "^next",
    "^@/lib/(.*)$",
    "^@/components/(.*)$",
    "^[./]"
  ],
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"]
}